@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
   
}
.container{
    width: 90%;
    margin: 0 auto;
}

/*header part start*/
header {
    position: relative;
    background: url("./img/Background\ Image.jpg");
    height: 1020px;
    background-repeat: no-repeat;
    background-size: cover;
}



/*navbar start*/
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
/*navbar end*/







/*email part start*/
.email{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.email_icon{
    margin-top: 35px
}
.email_icon>a>i{
    color: white;
}
.email_id {
    color: white;
    margin-top: 35px;
    margin-left: 10px;
}
/*email part end*/






/*phn part start*/
.phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    margin-left: 270px;
}

.phn_icon{
    margin-top: 35px
}
.phn_icon>a>i{
    color: white;
}

.phn_num{
    color: white;
    margin-top: 35px;
    margin-left: 10px;
}
/*pho part end*/







/*socil icon start*/
.social_Icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.facebookicon{
    color: white;
    margin-top: 35px;
    margin-left: 45px;
}
.facebookicon>a>i{
    color: white;
}
.instanum{
    color: white;
    margin-top: 35px;
    margin-left: 45px;   
}
.instanum>a>i{
    color: white;
}

.twtricon{
    color: white;
    margin-top: 35px; 
    margin-left: 45px;  
}
.twtricon>a>i{
color: white;
}
.youtbicn{
    color: white;
    margin-top: 35px;  
    margin-left: 45px; 
}
.youtbicn>a>i{
    color: white;
}
/*socil icon end*/










/*main menu start*/
.menubar{
    width: 100%;
    height: 60px;
    background-color: white;
    margin-top: 25px;
    border-radius: 5px;
}

.menubarlist{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menubarlist>ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menuhm {
    margin: 0px 42px;
}

.menubarlist>ul>.menuhm>li{
    display: inline-block;
    margin: 22px 0px;
    font-size: 16px;
    font-weight: 500;
    color: #5956E9;
    
}
.menubarlist>ul>.menuhm>li>a{
    text-transform: uppercase;
    font-size: 20px;
}






.mnab {
    margin: 0px 145px;
    position: absolute;
}

.menubarlist>ul>.mnab>li{
    display: inline-block;
    margin: 22px 0px;
    font-size: 16px;
    font-weight: 500;
    color: #5956E9;
    
}
.menubarlist>ul>.mnab>li>a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 20px;
}



.mnfe {
    position: absolute;
    margin: 0px 265px;
}
.menubarlist>ul>.mnfe>li{
    display: inline-block;
    margin: 22px 0px;
    font-size: 16px;
    font-weight: 500;
    color: #5956E9;
    
}
.menubarlist>ul>.mnfe>li>a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 20px;
}




.mnsc {
    position: absolute;
    margin: 0px 665px;
}
.menubarlist>ul>.mnsc>li{
    display: inline-block;
    margin: 22px 0px;
    font-size: 16px;
    font-weight: 500;
    color: #5956E9;
    
}
.menubarlist>ul>.mnsc>li>a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 20px;
}



.mnbl {
    position: absolute;
    margin: 0px 870px;
}
.menubarlist>ul>.mnbl>li{
    display: inline-block;
    margin: 22px 0px;
    font-size: 16px;
    font-weight: 500;
    color: #5956E9;
    
}
.menubarlist>ul>.mnbl>li>a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

img.memupicdn {
    position: absolute;
    margin: -41px 22px;
    visibility: hidden;
}
img.framepic {
    position: absolute;
    margin: -10px 20px;
    width: 150px;
    z-index: 7;
    display: none;
}



.cmpnylogo {
    position: absolute;
    margin: -85px 416px;
}

.cmpnylogo>img {
    width: 200px;
    height: 100px;
}


button {
    width: 155px;
    height: 50px;
    margin: -62px 1027px;
    position: absolute;
    border-radius: 5px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    background-color: #5956E9;
}
/*main menu end*/





/*main body part*/
.squrepic {
    margin: 210px 0px;
}
img.rone {
    position: absolute;
    width: 570px;
    height: 435px;
    z-index: 2;
}

img.rtwo {
    position: absolute;
    margin: -53px 53px;
    z-index: 1;
}

.squrepic>h1 {
    margin: 65px 35px;
    position: absolute;
    font-weight: 700;
    font-size: 48px;
    color: #5956E9;
    text-transform: uppercase;
    line-height: 64px;
    z-index: 3;
}
.squrepic>p {
    position: absolute;
    margin: 195px 45px;
    z-index: 4;
    color: #6C6C72;
}

.squrepic>h2 {
    z-index: 5;
    color: black;
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    margin: 300px 50px;
}
img.dnldpc {
    position: absolute;
    z-index: 6;
    margin: 350px 50px;
}
.mblpic {
    position: absolute;
    margin: -160px 683px;
}
/*main body part*/



/*section one start*/
.aboutapp{
    position: relative;
    height: 870px;
}

.AFD {
    margin: 0px 266px;
}
.AFD>h1 {
    margin: 70px 198px;
    text-transform: uppercase;
}
.AFD>p {
    margin: -51px 0px;
}

.AFDT{
    width: 100%;
}
.AFDTI{
    width: 50%;
}
.AFDTI>img {
    margin: 130px 0px;
}
.AFDTCEB{
    width: 50%;
    position: absolute;
}


.creativedgn {
    width: 482px;
    height: 160px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    margin: -650px 650px;
}


.crtvfdv{
    display: flex;
    align-items: center;
}
.crtvfdv>img {
    margin: 35px 30px;
}

.crtvfdv>h1 {
    margin: 0px -20px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.cretvsnddv {
    margin: -20px 58px;
}



.easytouse{
    width: 482px;
    height: 160px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    margin: 690px 650px;
}
.easyfrstdiv{
    display: flex;
    align-items: center;
}
.easyfrstdiv>img {
    margin: 35px 30px;
}

.easyfrstdiv>h1 {
    margin: 0px -20px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.easyfrstdivtwo {
    margin: -20px 58px;
}




.bestuser{
    width: 482px;
    height: 160px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    margin: -647px 650px;
}
.bstusrfsdv{
    display: flex;
    align-items: center;
}
.bstusrfsdv>img {
    margin: 35px 30px;
}

.bstusrfsdv>h1 {
    margin: 0px -20px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

 
.bstusrsnddiv{
    margin: -20px 58px;
}
/*section one end*/



/*SECTION TWO START*/
.appfeturs {
    background-image: url("./img/Rectangle\ 14.png");
    position: relative;
    height: 1560px;
    background-repeat: no-repeat;
    background-size: cover;
}

.featursfd>h1 {
    position: absolute;
    margin: 69px 478px;
    text-transform: uppercase;
    font-size: 25px;
    color: white;
}

.featursfd>p {
    position: absolute;
    color: white;
    margin: 107px 316px;
}
.featurssd>img {
    position: absolute;
    margin: 380px 315px;
}

.freechat {
    position: absolute;
    width: 300px;
    height: 170px;
    margin: 226px 533px;
    line-height: 25px;
}
.freechat>h1 {
    color: white;
    margin: 10px -55px;
}
.freechat>p {
    color: white;
    margin: 0px -115px;
    width: 303px;
}
.freechat>p>span {
    margin: 0px 90px;
}



.unlmtfect {
    position: absolute;
    text-align: right;
    width: 300px;
    height: 170px;
    line-height: 25px;
    margin: 520px 0px;
}
.unlmtfect>h1 {
    color: white;
    margin: 5px 0px;
}
.unlmtfect>p {
    color: white;
    width: 303px;
}



.android {
    position: absolute;
    text-align: left;
    width: 300px;
    height: 170px;
    line-height: 25px;
    margin: 512px 815px;
}
.android>h1 {
    color: white;
    margin: 5px 0px;
}
.android>p {
    color: white;
    width: 303px;
}




.uidsign {
    position: absolute;
    text-align: right;
    width: 300px;
    height: 170px;
    line-height: 25px;
    margin: 989px 0px;
}
.uidsign>h1 {
    color: white;
    margin: 5px 0px;
}
.uidsign>p {
    color: white;
    width: 303px;
}





.retina{
    position: absolute;
    text-align: left;
    width: 300px;
    height: 170px;
     line-height: 25px;
     margin: 970px 815px;
}
.retina>h1 {
    color: white;
    margin: 5px 0px;
}
.retina>p {
    color: white;
    width: 303px;
}





.support{
    position: absolute;
    width: 300px;
    height: 170px;
    margin: 1310px 540px;
    line-height: 25px;
}
.support>h1 {
    color: white;
    margin: 10px -132px;
}
.support>p {
    color: white;
    margin: 0px -115px;
    width: 303px;
}
.support>p>span {
    margin: 0px 90px;
}

/*SECTIOn TWO END*/

/*SECTION THREE START*/
.interface{
    position: relative;
    height: 870px;
}
.intrfcfrstdiv>h1 {
    margin: 100px 324px;
    text-transform: uppercase;
}
.intrfcfrstdiv>p {
    color: black;
    margin: -76px 270px;
    width: 634px;
}
img.pico {
    position: absolute;
    margin: 178px 130px;
    width: 900px;
}


img.pictw {
    position: absolute;
    margin: 379px 20px;
}
img.picth {
    position: absolute;
    margin: 379px 1045px;
}
.dotimg {
    position: absolute;
    margin: 695px 507px;
}
/*SECTION THREE END*/




/*SECTION four start*/
.rating{
    width: 100%;
    position: relative;
    margin: 80px 0px;
    height: 500px;
}
.ratingfrstdiv{
    width: 50%;
    float: left;
}
.ratingfrstdiv>h1 {
    text-transform: uppercase;
    margin: 20px 0px;
}
.ratingfrstdiv>p{
    color: #6C6C72;
}
img.ratingpicone {
    margin-top: 50px;
}
img.ratingpictwo {
    margin: 50px -10px;
}
img.ratingpicthree {
    position: absolute;
    margin: 5px 91px;
}
/*SECTION four END*/




/*SECTION FIVE START*/
.dnldapp{
    position: relative;
    background-image: url("./img/Rectangle\ 15.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 447px;
}


.dnldappdiv>h1 {
    position: absolute;
    text-transform: uppercase;
    margin: 70px 359px;
    color: white;
}
.pbro {
    position: absolute;
    margin: 105px 288px;
    color: white;
}
.pbrw {
    position: absolute;
    margin: 123px 274px;
    color: white;
}
.pbrt {
    position: absolute;
    margin: 142px 308px;
    color: white;
}
img.dnldapppic {
    position: absolute;
    margin: 160px 81px;
}
/*SECTION FIVE END*/


/*SECTION six start*/
.team{
    position: relative;
    height: 1170px;
}
.teamdiv>h1 {
    position: absolute;
    text-transform: uppercase;
    margin: 270px 450px;
    color: black;
}
.tmo {
    position: absolute;
    margin: 300px 290px;
    color: #6C6C72;
}
.tmt {
    position: absolute;
    margin: 319px 274px;
    color: #6C6C72;
}
.tmh {
    position: absolute;
    margin: 336px 308px;
    color: #6C6C72;
}
img.tmpone {
    position: absolute;
    margin: 460px 0px;
}
img.tmptwo {
    position: absolute;
    margin: 460px 400px;
}
img.tmpthr {
    position: absolute;
    margin: 460px 800px;
}

/*SECTION six END*/





/*SECTION seven srart*/
.happycustmr{
    position: relative;
    background-image: url("./img/Rectangle\ 15.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 876px;
}

.happycustmrdiv>h1 {
    position: absolute;
    text-transform: uppercase;
    margin: 100px 410px;
    color: white;
}
.hpo {
    position: absolute;
    margin: 135px 288px;
    color: white;
}
.hpt {
    position: absolute;
    margin: 155px 274px;
    color: white;
}
.hph {
    position: absolute;
    margin: 175px 308px;
    color: white;
}
img.hpone {
    position: absolute;
    margin: 208px -127px;
}
img.hpptwo {
    position: absolute;
    margin: 693px 486px;
}

/*SECTION seven END*/




/*SECTION EIGHT START*/
.blog{
    position: relative;
    height: 1100px;   
}

.blogdiv>h1 {
    position: absolute;
    text-transform: uppercase;
    margin: 160px 450px;
    color: black;
}
.bgo {
    position: absolute;
    margin: 200px 290px;
    color: #6C6C72;
}
.bgt {
    position: absolute;
    margin: 220px 274px;
    color: #6C6C72;
}
.bgh {
    position: absolute;
    margin: 240px 308px;
    color: #6C6C72;
}
img.bgone {
    position: absolute;
    margin: 360px 0px;
}
img.bgtwo {
    position: absolute;
    margin: 360px 400px;
}
img.bgthr {
    position: absolute;
    margin: 360px 800px;
}

/*SECTION EIGHT END*/



/*SECTION NINE Start*/
.info {
    position: relative;
    width: 100%;
   
}
img.infoimg {
     z-index: 2;
    position: absolute;
    margin: -170px 0px;
    width: 100%;
}

/*SECTION NINE END*/




/*SECTION TEN START*/
.footimg{
    position: relative;
    background-image: url("./img/Rectangle\ 35.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 545px;
    z-index: 1;
}
img.fto {
    position: absolute;
    margin: 238px 125px;
}


img.ftt {
    position: absolute;
    margin: 238px 530px;
}
img.fth {
    position: absolute;
    margin: 238px 850px;
}
img.ftf {
    position: absolute;
    margin: 510px 95px;
}
img.ftv {
    position: absolute;
    margin: 515px 445px;
}
/*SECTION TEN END*/


























/*media quary tab size*/
@media  (max-width: 768px){
   
    .menubar {
        color: black;
        width: 716px;
       margin-left: 19px;
    }

    .phone {
        margin-left: 215px;
    }
    .email {
        position: absolute;
        margin: 0px 24px;
    }

    .social_Icon {
      
        margin: 0px 400px;
    }
    .menubar {
       
        width: 635px;
        margin-left: 20px;
    }

    .cmpnylogo {
       
        margin: -85px 235px;
    }
    .menubarlist>ul>.menuhm>li>a{
        visibility: hidden;
    }
    .menubarlist>ul>.mnab>li>a {
       visibility: hidden;
    }
    .menubarlist>ul>.mnfe>li>a{
        visibility: hidden;
    }
    .menubarlist>ul>.mnsc>li>a{
        visibility: hidden;
    }
    .menubarlist>ul>.mnbl>li>a{
       visibility: hidden;
    }
    img.memupicdn {
      
        margin: -50px 50px;
       visibility: visible;
        width: 35px;

    }

               
    
    img.framepic {
     
        margin: -11px 20px;
        visibility: hidden;
        z-index: 7;
        width: 200px;
        height: 249px;
    } 
    button {
       
        margin: -59px 473px;
       
    }
    .mblpic {
        
        margin: -15px 455px;
    }
    .mblpic>img {
        width: 370px;
        overflow: hidden;
    }
    img.rone {
        width: 390px;
        height: 373px;
        margin: 45px 0px;
    }
    img.rtwo {
       
        margin: 6px 53px;
        width: 370px;
        height: 450px;
    }
    .squrepic>h1 {
        margin: 73px 35px;
        font-size: 29px;
        line-height: 50px;
      
    }
    .squrepic>p {
      
        margin: 168px 35px;
        display: block;
        width: 277px;
    }
    .squrepic>h2 {
       
        font-size: 25px;
        margin: 280px 33px;
    }
    img.dnldpc {
       margin: 328px 25px;
    }
    .AFD>h1 {
        margin: 119px -22px;
        position: absolute;
    }
    .AFD>p {
        margin: 176px -188px;
        position: absolute;
        width: 566px;
        color: #6C6C72;
    }
    .AFDTI>img {
        margin: 354px 22px;
        width: 255px;
        height: 369px;
    }
    .creativedgn {
        width: 395px;
        height: 156px;
        margin: -744px 314px;
        position: absolute;
    }
    .cretvsnddv {
        margin: -25px 20px;
    }
    .easytouse {
        width: 400px;
        height: 160px;
        margin: -567px 311px;
        position: absolute;
    }
    .easyfrstdivtwo {
        margin: -25px 30px;
    }
    .bestuser {
        width: 405px;
      
        margin: -386px 310px;
        position: absolute;
    }
    .bstusrsnddiv {
        margin: -25px 30px;
    }
    .featursfd>h1 {
     
        margin: 117px 271px;
        
    }
    .featursfd>p {
       
        margin: 155px 100px;
    }
    .featurssd>img {
       
        margin: 548px 216px;
        width: 295px;
    }
    .aboutapp {
      
        height: 920px;
    }
    .freechat {
        position: absolute;
        width: 44px;
        margin: 353px 343px;
        line-height: 26px;
    }
    .featurssd>img {
        margin: 533px 247px;
        width: 295px;
    }
    .featursfd>h1 {
        margin: 155px 261px;
    }
    .featursfd>p {
        margin: 195px 89px;
    }
    .unlmtfect {
        position: absolute;
        text-align: right;
        width: 300px;
        height: 170px;
        line-height: 20px;
        margin: 600px -40px;
    }
    .unlmtfect>p {
      
        width: 216px;
      
        margin: 10px 80px;
    }
    .android {
        position: absolute;
        text-align: left;
        width: 300px;
        height: 170px;
        line-height: 20px;
        margin: 605px 492px;
    }
    .android>p {
      
        width: 216px;
    }
    .android>h1 {
        color: white;
        margin: 5px 0px;
        width: 188px;
    }
    .uidsign {
      
        line-height: 20px;
        margin: 815px -40px;
    }
    
.uidsign>p {
    
    width: 216px;
    margin: 0px 85px;
}
.retina {
   
    line-height: 20px;
    margin: 808px 490px;
}
.retina>p{
    width: 216px;
}
.retina>h1{
    width: 188px;
}
.support {
   
    margin: 1022px 349px;
    line-height: 20px;
}
.appfeturs {
   
    height: 1280px;
  
}
.intrfcfrstdiv>h1 {
    margin: 140px 217px;
    line-height: 30px;
    position: absolute;
}
.intrfcfrstdiv>p {
    color: #6C6C72;
    margin: 215px 95px;
    width: 500px;
    position: absolute;
}
img.pictw {
   
    visibility: hidden;
}
img.picth {
    
    visibility: hidden;
}
img.pico {
  
    margin: 400px 0px;
    width: 698px;
}
.dotimg {
    position: absolute;
    margin: 810px 270px;
}
.ratingfrstdiv>h1 {
    
    margin: 19px -1px;
    display: block;
    width: 222px;
}
.ratingfrstdiv>p {
  
    width: 290px;
}
img.ratingpicone {
    margin-top: 25px;
}
img.ratingpictwo {
    margin: 5px -12px;
}
img.ratingpictwo {
    margin: 9px -5px;
    width: 350px;
}

img.ratingpicthree {
    position: absolute;
    margin: 71px 34px;
    width: 337px;
}
.rating {
   
    height: 470px;
}
.dnldappdiv>h1 {
   
    margin: 100px 253px;
   
    line-height: 30px;
}
.pbro {
    position: absolute;
    margin: 175px 82px;
    color: white;
}
.pbrw {
    position: absolute;
    margin: 199px 68px;
    color: white;
}
.pbrt {
    
    margin: 215px 105px;
  
}
.dnldapp {
  
    height: 460px;
}
img.dnldapppic {
   
    margin: 245px -45px;
    width: 785px;
}
.teamdiv>h1 {
    position: absolute;
    text-transform: uppercase;
    margin: 270px 242px;
    color: black;
}
.tmo {
  
    margin: 315px 82px;
   
}
.tmt {
    
    margin: 335px 68px;
    
}
.tmh {
   
    margin: 355px 105px;
   
}
img.tmpone {
   
    margin: 480px 0px;
    width: 220px;
}
img.tmptwo {
    position: absolute;
    margin: 480px 240px;
    width: 220px;
}

img.tmpthr {
   
    margin: 480px 477px;
    width: 220px;
}
.team {
  
    height: 980px;
}
.happycustmrdiv>h1 {
   
    margin: 125px 211px;
    
}
.hpo {
   
    margin: 171px 82px;
    color: white;
}
.hpt {
    
    margin: 190px 68px;
    color: white;
}
.hph {
    position: absolute;
    margin: 210px 105px;
    color: white;
}
img.hpone {
    
    margin: 250px -68px;
    width: 816px;
    height: 379px;
}
img.hpptwo {
    position: absolute;
    margin: 580px 270px;
}
.happycustmr {
 
    height: 740px;
}
.blogdiv>h1 {
    position: absolute;
    text-transform: uppercase;
    margin: 160px 234px;
    color: black;
}
.bgo {
  
    margin: 200px 82px;
  
}
.bgt {
    margin: 220px 68px;
   
}
.bgh {
   
    margin: 240px 105px;
 
}
img.bgone {
   
    margin: 400px 0px;
    width: 230px;
    height: 350px;
}
img.bgtwo {
   
    margin: 400px 240px;
    width: 230px;
    height: 350px;

}
img.bgthr {
 
    margin: 400px 476px;
    width: 230px;
    height: 350px;
}
.blog {
  
    height: 920px;
}
img.infoimg {
    
    margin: -120px -25px;
    width: 110%;
}
img.fth {
    position: absolute;
    margin: 153px 483px;
    width: 273px;
}
img.ftv {
    position: absolute;
    margin: 410px 195px;
}
img.ftf {
    position: absolute;
    margin: 400px 58px;
    width: 651px;
}
img.fto {
    position: absolute;
    margin: 150px 25px;
    width: 241px;
}
img.ftt {
    position: absolute;
    margin: 150px 290px;
    width: 160px;
}

.footimg {
 
    height: 440px;
   
}
}

/**/
@media (max-width: 500px){
    .menubar {
        width: 460px;
        margin-left: -11px;
        margin: -10px;
    }
    img.memupicdn {
        margin: -40px 20px;
        visibility: visible;
        width: 35px;
    }
    .cmpnylogo {
        margin: -85px 110px;
    }
    
    .email {
        position: absolute;
        margin: 0px 24px;
        visibility: hidden;
    }
    .phone {
        margin-left: 215px;
        visibility: hidden;
    }
    .social_Icon {
        margin: 0px 400px;
        visibility: hidden;
    }
    button {
        margin: -59px 325px;
        width: 130px;
    }
    .squrepic {
        margin: 140px 16px;
    }
    .mblpic>img {
        width: 540px;
        overflow: hidden;
        margin: 530px -400px;
    }
    header {
       
        height: 1550px;
        
    }
    .AFD>h1 {
        margin: 95px -130px;
        position: absolute;
    }
    .AFD>p {
        margin: 151px -260px;
      
        width: 449px;
       
    }
    .AFDTI>img {
        margin: 274px 40px;
        width: 376px;
        height: 500px;
    }
    .AFDTCEB {
        
        margin: 476px -287px;
    }
    .aboutapp {
        height: 1430px;
    }
    .featursfd>h1 {
        margin: 80px 135px;
    }
    .featursfd>p {
    margin: 120px 33px;
}
.freechat {
    position: absolute;
    width: 426px;
    margin: 310px 195px;
    line-height: 26px;
}
.unlmtfect {
  
    margin: 520px -56px;
}
.unlmtfect>h1 {
    color: white;
    margin: 7px -74px;
}
.unlmtfect>p {
    width: 216px;
    margin: 4px 155px;
}
.android {
  
    margin: 680px 194px;
}
.android>h1 {
 
    margin: 9px -85px;
    
}
.android>p {
    width: 216px;
    margin: 0px -81px;
}
.uidsign {
    margin: 1660px -60px;
}


.uidsign>h1 {
   
    margin: 8px -75px;
}
.uidsign>p {
   
    margin: 0px 155px;
}
.featurssd>img {
    margin: 835px 8px;
    width: 500px;
}
.appfeturs {
    height: 2300px;
}
.retina {
  
    margin: 1835px 194px;
}
.retina>h1 {
    margin: 7px -47px;
}
.retina>p {
    width: 216px;
    margin: 8px -77px;
}
.support {
    margin: 2044px 196px;
   
}
.interface {
  
    height: 650px;
}
.intrfcfrstdiv>h1 {
    margin: 80px 108px;
   
}
.intrfcfrstdiv>p {
    color: #6C6C72;
    margin: 160px 9px;
    position: absolute;
    width: 435px;
}
img.pico {
    margin: 291px 0px;
    width: 445px;
}

.dotimg {
   
    margin: 567px 131px;
}
.ratingfrstdiv>p {
    width: 290px;
    line-height: 29px;
    margin: 0px 61px;
}
.ratingfrstdiv>h1 {
    margin: 11px 63px;
    display: block;
    width: 222px;
}
img.ratingpicone {
    margin-top: 34px;
    margin-left: 60px;
}
img.ratingpictwo {
    margin: 20px 60px;
    width: 370px;
}
.rating {
    height: 851px;
}
img.ratingpicthree {
    position: absolute;
    margin: 448px -170px;
    width: 340px;
}
img.ratingpicthree {
    position: absolute;
    margin: 550px -170px;
    width: 340px;
}
.dnldappdiv>h1 {
    margin: 100px 20px;
    line-height: 30px;
    width: 434px;
}
.pbro {
    position: absolute;
    margin: 143px 46px;
    color: white;
}
.pbrw {
   
    visibility: hidden;
}
.pbrt {
    margin: 177px 45px;
    visibility: hidden;
}
img.dnldapppic {
    margin: 190px -58px;
    width: 564px;
}
.dnldapp {
    height: 337px;
}
.teamdiv>h1 {
    position: absolute;
    text-transform: uppercase;
    margin: 180px 90px;
    color: black;
}
.team {
    height: 2100px;
}
.tmo {
    margin: 215px 71px;
}

.tmt {
    
    visibility: hidden;
}
.tmh {
    margin: 249px 70px;
}
img.tmpone {
    margin: 321px 40px;
    width: 350px;
}
img.tmptwo {
    position: absolute;
    margin: 860px 40px;
    width: 350px;
}
img.tmpthr {
    margin: 1400px 40px;
    width: 350px;
}
.happycustmr {
    height: 710px;
}
.happycustmrdiv>h1 {
    margin: 122px 65px;
}
.hpo {
    margin: 157px 75px;
   
}
.hpt {
    margin: 190px 68px;
    color: white;
    visibility: hidden;
}
.hph {
    
    margin: 192px 76px;
 
}
img.hpone {
    margin: 221px -48px;
    width: 545px;
    height: 379px;
}
img.hpptwo {
    position: absolute;
    margin: 545px 150px;
}
.blogdiv>h1 {
   
    margin: 100px 100px;
  
}
.bgo {
    margin: 136px 75px;
}
.bgt {
    margin: 220px 68px;
    visibility: hidden;
}
.bgh {
    margin: 169px 75px;
}
.blog {
    height: 1790px;
}
img.bgone {
    margin: 293px 40px;
    width: 372px;
    height: 450px;
}
img.bgtwo {
    margin: 760px 40px;
    width: 372px;
    height: 450px;
}
img.bgthr {
    margin: 1230px 40px;
    width: 372px;
    height: 450px;
}
img.infoimg {
    margin: -75px -25px;
    width: 110%;
}
img.fto {
    position: absolute;
    margin: 142px 137px;
    width: 370px;
}
img.ftt {
    position: absolute;
    margin: 385px 140px;
    width: 185px;
}
.footimg {
    height: 900px;
}
img.fth {
    position: absolute;
    margin: 643px 134px;
    width: 330px;
}
img.ftf {
    position: absolute;
    margin: 863px 37px;
    width: 424px;
}
img.ftv {
    position: absolute;
    margin: 870px 61px;
}
}